
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QueryTest</title>
</head>
<body>
    <h2>@ViewBag.Name</h2>
</body>
</html>
